<footer class="mt-3">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>&nbsp;
            <i class="fa-brands fa-square-instagram"></i>&nbsp;
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <p class="f-brand-name"> &copy; Safe Nest BD</p>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>

    </div>

</footer>